* {
    margin: auto;
    padding: 0;
    border: 0;

}

body{ 
    font-size: 20px;
    font-family: 'Lato', sans-serif; 
    
}

.header{
    margin: 0;
    width: 1600px;
    height: 92px;
    display: flex;
    font-family: 'Lato', sans-serif;  
    margin-left: 80px;
   
}

.h1-header{
    width: 67px;
    height: 28px;     
    font-size: 20px;
    padding: 32px 352px 32px 80px;  
    font-weight: bold;  
    
}

.nav-header{
    width: 603px;
    height: 28px;   
    margin: 0;
    padding: 32px 115px 32px 0px;  

}

.ul-nav-header {
     list-style: none;    
     
}

.ul-nav-header li{
    margin: 0px 30px 0px 0px;
    display: inline;
    
}

.ul-nav-header li a{    
    font-size: 20px;
    color: #000;
    text-decoration: none; 
    
}

.search-box{
    width: 233px;
    height: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    margin: 20px 24px 20px 55px;  
   
}

.search-box input{
    width: auto;
    height: 28px;
    margin: 14px 109px 10px 48px;
    background: #F2F2F2;

}

.search-box ::placeholder{
    font-size: 20px;
    color: #969696;

}

.imagem-carrinho{
   padding: 20px 0px 20px 0px;
   
}

.search-box  button{
    position: absolute;
    margin: -33px 0px 0px 15px;

}

.search-box i{
    width: 18px;
    height: 18px;   
   
}

/*---------------------- FIM HEADER -------------------------------*/

main{
    margin: auto;
    padding: 0;
    width: 1600px;
    height: auto; 

}

/*---------------------- FIM MAIN -------------------------------*/

.section-initial{    
    width: 1600px;
    margin: 80px 0px 0px 0px;
    display: flex;

}

.section-initial-h2{
    width: 581px;
    height: 208px;
    font-size: 104px;   
    color: #9f9f9f; 
    color: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    font-family: 'Lato', sans-serif;     
    font-weight: bold;
    font-style: normal;
    
}

.section-initial-p{
    margin-top: 70px;
    margin-left: 0;
    width: 475px;
    height: 112px;
    font-size: 20px;
    color: #1F1F1F;  
     
}

.section-initial-button{
    margin-top: 80px;
    width: 336px;
    height: 84px;
    background: 0;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;

}

.section-initial-img{
    width: 581px;
    height: 581px;
    background:  #F2F2F2; 
    border-radius: 1000px; 
    margin-left: 200px;
    
}

.section-initial img{
    margin-top: 20px;
    margin-left: -240px;
    
}

/*---------------------- FIM SECTION 01 -------------------------------*/

.aside-first{
    width: 1600px;
    height: 767px;
    margin: 200px 0px 0px 0px; 
    background: #F3F3F3;   
    margin-left: auto; 
    
}

.aside-first-h2{    
    font-size: 40px;
    color: #1F1F1F;
    text-transform: uppercase;
    padding: 64px 368px 0px 368px;
    text-align: center;   
   
}

.aside-first-ul{
    list-style: none;  
    text-align: center; 
    margin-top: 64px;
    
}

.aside-first-ul li{
    display: inline-block;
    margin-left: 20px;     

}

.branco{
    width: 32px;
    height: 32px;
    background: linear-gradient(270.06deg, #E4E4E4 20.97%, #FFFFFF 99.92%);
    opacity: 0.5;
    border: 2px solid rgba(31, 31, 31, 0.5);  
    border-radius: 1em;

}

.dourado{
    width: 32px;
    height: 32px;
    background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
    opacity: 0.5;
    border: 2px solid rgba(31, 31, 31, 0.5);  
    border-radius: 1em;

}

.cinza{
    width: 32px;
    height: 32px;
    background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
    opacity: 0.5;
    border: 2px solid rgba(31, 31, 31, 0.5);  
    border-radius: 1em;

}

.grafite{
    width: 32px;
    height: 32px;
    background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
    opacity: 0.5;
    border: 2px solid rgba(31, 31, 31, 0.5);  
    border-radius: 1em;

}

.branco:hover{
    border: 2px solid #000;
    cursor: pointer;

}

.dourado:hover{
    border: 2px solid #000;
    cursor: pointer;

}

.cinza:hover{
    border: 2px solid #000;
    cursor: pointer;

}

.grafite:hover{
    border: 2px solid #000;
    cursor: pointer;

}

.aside-first-img{
    width: 464px;
    height: 241px;
    margin-top: 32px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.aside-first-span{
    margin-top: 45px;
    width: 704px;
    height: 28px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    
}

.aside-first-btn-carrinho{    
   margin-top: 64px;
   width: 336px;  
   height: 84px;   
   border: 2px solid #1F1F1F;
   box-sizing: border-box;
   border-radius: 12px;   
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   font-weight: bold;
   font-size: 20px;

}

/*---------------------- FIM ASIDE -------------------------------*/

.section-second{
    width: 1600px;
    margin: auto;
    padding: 0;
    display: flex;    

}

.section-second-h2{
    margin-top: 240px;    
    font-weight: bold;
    font-size: 64px; 
    color: #9f9f9f;   
    color: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    
}

.section-second-p{
    margin-top: 56px;
    font-size: 20px;

}

.section-second-img{      
    margin-top: 200px;
    margin-left: auto;

}

.section-second-img img{
    width: 704px;
    height: 600px;

}

/*---------------------- FIM SECTION 02 -------------------------------*/

.section-third{
    margin: auto;
    padding: 0;
    width: 1600px;   
    margin-top: 160px;
      
}

.third{
    display: flex;   
    
}

.section-third-img{
    width: 704px;
    height: 600px;
    
}

.section-third-txt{
    width: 581px;
    margin-left: 300px;
   
}

.section-third-h2{
    font-weight: bold;
    font-size: 64px; 
    color: #9f9f9f;   
    color: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);

}

.section-third-p {
    margin-top: 24px;
    font-size: 20px;
    color: #1F1F1F;

}

/*---------------------- FIM SECTION 03 -------------------------------*/

.section-fourth{
    width: 1600px;
    margin: auto;
    padding: 0;
    display: flex;   

}

.section-fourth-h2{
    margin-top: 160px;
    font-weight: bold;
    font-size: 64px; 
    color: #9f9f9f;   
    color: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);

}

.section-fourth-p{
    margin-top: 56px;
    font-size: 20px;

}

.section-fourth-img{
    margin-top: 160px;      
    margin-left: auto;  

}

.section-fourth-img img{
    width: 704px;
    height: 600px;

}

/*---------------------- FIM SECTION 04 -------------------------------*/

.aside-second{
    margin: auto;
    padding: 0;
    margin-top: 200px;   

}

.aside-second img{
    position: absolute;

}

.aside-second i{
    transform: rotate(45deg)
    
}

.aside-second-span{
    margin-top: 40px;
    margin-left: 24px;
    position: relative;
    float: left;
    color: #fff;
    font-size: 104px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
   
}

/*---------------------- FIM ASIDE 02 -------------------------------*/

.section-fifth{    
    margin-top: 260px;
    width: 1600px;
    display: inline-block;    
    
}

.section-fifth-img{
    margin-top: 200px;
    display: inline-block;
    
}

.section-fifth-img img{
    width: 827px;
    height: 838px;

}

.section-fifth-form{  
    width: 773px;
    height: 838px;    
    float: right;
    margin-top: 200px;    
    background: #f3f3f3;
    
}


.section-fifth-h3{   
    padding: 30px 80px 40px 110px;
    font-size: 40px;

}

.section-fifth-form input{    
    width: 517px;
    height: 76px;
    padding-left: 28px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 110px;
    margin-top: 20px;
   
}

.section-fifth-form input::placeholder{
    font-size: 20px;
    color: #969696;

}

.section-fifth-form textarea{
    width: 517px;
    height: 260px;
    margin-left: 110px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 24px;
    padding: 24px 0px 0px 28px;

}

.section-fifth-form textarea::placeholder{
    font-size: 20px;
    color: #969696;

}

.section-fifth-label input{
    width: 28px;
    height: 28px;
    font-size: 20px;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 4px;
    
}

.section-fifth-label {
    color: #969696; 

}

.section-fifth-btn{
    width: 517px;
    height: 84px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 120px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 20px;

}

/*---------------------- FIM SECTION 05 -------------------------------*/

footer{
    margin: auto;

}

.footer{
    width: 1600px; 
    height: 300px;       
    margin-top: 160px;
    background-color: #F3F3F3;
    display: flex;
    
  
}

.footer-h3{
    margin: 0;
    padding: 56px 0px 0px 80px;
    font-size: 20px;
    color: #1F1F1F;
    font-weight: bold;
    width: 67px;
    height: 28px;

}

.col-footer{
    margin-top: 46px;
    display: flex; 
    flex-direction: row; 

}

.col-footer ul{
    margin: 0;
    padding: 0;
    width: 200px;       
    display: inline-block;
    margin-left: 180px;
    
}

.col-footer li{
    list-style: none; 
    margin-top: 10px;  
    
}

.col-footer li a{
    text-decoration: none;
    color: #1F1F1F; 
    
    
}

.footer-col3-titulo{       
    width: 120px;
    height: 25px;    
    margin: 0; 
    padding: 0;
   
}

.footer-col-3 li{
    width: auto;
    height: auto;
    margin: 0;    
    display: inline-block;    
    margin-left: 20px; 
    padding-top: 20px;
    
}

.footer-col1-titulo, .footer-col2-titulo, .footer-col3-titulo{
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;

}

/*---------------------- FIM FOOTER -------------------------------*/



